{% assign site_logo = site.logo | relative_url %}
{% assign site_donate = site.donate | relative_url %}

<header id="masthead">
  <div class="inner">
    <div class="title-area">
        <div class="site-title">
          <a href="{{ '/' | relative_url }}">
            {% if site.logo %}<img src="{{ site_logo }}" alt="">{% endif %}
          </a>
          {% if site.donate %}
            <a class="site-donate" href="{{ '#support-us' | relative_url }}">
              <img src="{{ site_donate }}" alt="">
            </a>
          {% endif %}
        </div>
    </div>
  </div>
</header>
