.site-donate {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 0;
  right: 0;
  margin: 1.8125rem 0;
  padding-right: 1rem;
  background-color: $background-color;
  z-index: 10000;
}

#masthead {
  background: $overlay-color;
}

#footer {
  background: $overlay-color;
}