.site-donate {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-self: flex-start;
  top: 0;
  right: 0;
  margin-left: auto;
  padding-right: 1rem;
  z-index: 10000;
}

#masthead {
  background: $overlay-color;
  position: fixed;
  width: 100%;
}

#footer {
  padding-top: 5rem;
  background: $overlay-color;
}

article p {
  font-family: $sans-serif-font-family;
}

footer .entries-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  grid-gap: 2em;
  color: black;
}