.site-donate {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-self: flex-start;
  top: 0;
  right: 0;
  margin-left: auto;
  padding-right: 1rem;
  z-index: 10000;
}

#masthead {
  background: $overlay-color;
}

#footer {
  background: $overlay-color;
}